@charset "UTF-8";
.center {
    text-align: center;
}
.size {
    width: 100%;
    text-align: left;
}
.profile {
    
    text-align: right;
}
.post {
    display: inline-block;
    /*position: fixed;*/
    width: 70%;
    
}
.custom {
    display: inline-block;
    /*position: fixed;*/
    width: 20%;
    height: 50%;
    top: 0px;
}

