@charset "UTF-8";
.center {
    text-align: center;
}
.size {
    width: 100%;
    text-align: left;
}
.profile {
    top: 25%;
    left: 70%;
    padding: 3em 0;
}
.post {
    width: 60%;
}
.custom {
    width: 20%;
}

.fixed {
    float: right;
}
.recording_button {
    padding-left: 330px;
}


